/*
 * Style sheet for WEBClient.Boilerplate
 */

BODY {
    background: white;
    color: black;
    margin: 0.0in;
    padding: 0.0in;
}
A:link {
    color: green;
}
A:visited {
    color: orange;
}
A:active {
    color: red;
}
A:focus {
    color: red;
}
A:hover {
    color: red;
}

IMG {
    border-style: none; 
    border-width: 0;
}

FORM {
    margin: 0.0in;
    padding: 0.0in;
    spacing: 0.0in;
}

BODY.head {
    margin: 0.0in;
    padding: 0.0in;
}
BODY.head TABLE {
    margin: 0.0in;
    border: none;
}
BODY.head TD.menu {
    background: black;
    color: white;
}
BODY.head A {
    font-family: Verdana, Arial;
    font-size: 8pt;
    font-weight: bold; 
    text-decoration: none;
}
BODY.head A:link {
    color: white;
}
BODY.head A:visited {
    color: white;
}
BODY.head A:active {
    color: white;
}
BODY.head A:focus {
    color: white;
}
BODY.head A:hover {
    color: gold;
}

BODY.topmenu {
    margin: 0.0in;
}
BODY.topmenu TABLE {
    margin: 0.0in;
    border: none;
}
BODY.topmenu TD {
    background: #44bb88;
    color: white;
}
BODY.topmenu A {
    font-family: Verdana, Arial;
    font-size: 10pt;
    font-weight: bold; 
    text-decoration: none;
}
BODY.topmenu A:link {
    color: white;
}
BODY.topmenu A:visited {
    color: white;
}
BODY.topmenu A:active {
    color: white;
}
BODY.topmenu A:focus {
    color: white;
}
BODY.topmenu A:hover {
    color: red;
}


BODY.body {
    margin: 0.1in;
}
BODY.body TABLE.header {
    color: #009911;
}
BODY.body TABLE.header TD.logo {
    font-family: 'Times New Roman',Helvetica,Georgia,Arial; 
    font-size: 18pt;
    color: #009911;
}
BODY.body TABLE.header TD.menu {
    font-family: Arial,'Times New Roman',Helvetica; 
    font-size: 10pt;
    color: #009911;
}
BODY.body TABLE.header A:link {
    color: #009911;
}
BODY.body TABLE.header A:visited {
    color: #009911;
}
BODY.body TD.title {
    font-family: Arial,Helvetica; 
    font-size: 18pt;
    color: #113311;
}
BODY.body TD.titlebox {
    background: #ccddaa;
/*    background: silver; */
}
BODY.body TD.horzbar {
    background: #ccddaa;
}

BODY.body TABLE.myrepo {
    color: #000033;
    background: #ccddaa;
}
BODY.body TABLE.myrepo THEAD TR {
    color: black;
    background: #ffcc55;
}
BODY.body TABLE.myrepo TBODY TR.odd-row {
    background: white;
}
BODY.body TABLE.myrepo TBODY TR.even-row {
    background: #ffffdd;
}


DIV.date {
    text-align: right;
    color: gray;
    font-size: 10pt;
    font-weight: normal;
    padding-top: 0.0in;
    padding-bottom: 0.01in;
}
DIV.copyright {
    text-align: center;
    color: silver;
    font-size: 10pt;
    font-weight: normal;
    padding-top: 0.03in;
    padding-bottom: 0.1in;
}
DIV.copyright A {
    color: silver;
}
DIV.copyright A:link {
    color: silver;
}
DIV.copyright A:visited {
    color: silver;
}
DIV.copyright A:active {
    color: silver;
}
DIV.copyright A:focus {
    color: silver;
}
DIV.copyright A:hover {
    color: gray;
}


TR.loginbox {
    background: gold;
    color: black;
    font-family: GENEVA,ARIAL,HELVETICA;
    font-size: 11pt;
    /* font-weight: bold; */
}


TABLE.fancybox {
    background: ivory;
    width: 100%;
    border: 2px solid #ccddaa;
}
TABLE.fancybox TR.header {
    background: #ccddaa;
    font-size: 12pt;
    font-weight: bold;
}

TABLE.plainbox {
    background: ivory;
    width: 100%;
    border: 0px solid #ccddaa;
}
TABLE.plainbox TR.header {
    background: #ccddaa;
    height: 26px;
    font-size: 13pt;
    font-weight: bold;
}

